<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

#### Add your code below following the instructions given in the course

<a href="https://dataplatform.cloud.ibm.com/gallery">Galería de IBM Cloud</a>

<h1>My Jupyter Notebook on
IBM</h1>

<p><b>Victor Vargas Fierro</b></p>
<p>data science researcher</p>

<p><i>Science within everyone's reach</i></p>

<h3>Given a value x, say hello or goodbye</h3>

In [ ]:
x = 15
if x > 9:
    print("¡Hola!")
else:
    print("¡Adiós!")
print("Fin")

<hr><br>
<ul>
<li>Primavera</li>
<li>Verano </li>
<li>Otoño </li>
<li>Invierno </li>
</ul>
<br>
<table>
  <tr>
    <td>1</td>
    <td>2</td>
    <td>3</td>
  </tr>
  <tr>
    <td>4</td>
    <td>5</td>
    <td>6</td>
  </tr>
  <tr>
    <td>7</td>
    <td>8</td>
    <td>9</td>
  </tr>
  <tr>
    <td>*</td>
    <td>9</td>
    <td>#</td>
  </tr>
</table>